

    
    
<h2>Last 3 Twitter posts using hastag #API with custom date formatter</h2>
<div id="MyTweets"></div>

<!-- moment.js only needed for Query 6 example -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>

<script type="text/javascript" src="TweetJS/twitterFetcher_min.js"></script>
<script type="text/javascript" src="TweetJS/exampleUsage.js"></script>
