
<div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">GIS Functions</h2>
    </div>
</div>

<div id="portfolio" class="container transitions-enabled">
    <div class="portfolio-item panel panel-default">
        <a href="/pins" class="portfolio-link" data-toggle="modal">
            <%= image_tag("portfolio/Pinteresting.png", class: "img-responsive") %>
        </a>
        <div class="portfolio-panel panel">
            <div class="portfolio-body"
                    <h4>Pinteresting</h4>
                    <p class="text-muted">Image Sharing</p>
            </div>
        </div>
    </div>
    <div class="portfolio-item panel panel-default">
        <a href="/tweets" class="portfolio-link" data-toggle="modal">
            <%= image_tag("portfolio/Tweets.png", class: "img-responsive") %>
        </a>
        <div class="portfolio-panel panel">
            <div class="portfolio-body"
                    <h2>Personal Tweets</h2>
                    <p class="text-muted">Tweets JavaScript</p>
            </div>
        </div>
    </div>
    <div class="portfolio-item panel panel-default">
        <a href="https://flasksample.herokuapp.com/weather" class="portfolio-link" data-toggle="modal">
            <%= image_tag("portfolio/Tweathermap.png", class: "img-responsive") %>
        </a>
        <div class="portfolio-panel panel">
            <div class="portfolio-body"
                    <h2>Real-time Tweets Weather Map</h2>
                    <p class="text-muted">Python Flask Tweepy</p>
            </div>
        </div>
    </div>
    

    
           
</div>
