// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#portfolio {
	margin: 0 auto;
}
.portfolio-item {
	margin: 5px;
	width: 300px;
}
.portfolio-link img {
	width: 100%
}
.portfolio-body {
	margin: 15px;
	font-size: 18px;
	font-weight: bold;
}


.portfolio-panel {
	background:#E5E5E5;
}

